table.blueTable {
    border: 1px solid #ECECEC;
    background-color: #EEEEEE;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
  }
  table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 15px;
    background: white;
    padding: 5px;
    letter-spacing: .1rem;
  }
  table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.blueTable thead {
    background: #ECECEC;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: black;
    background: white;
    padding: 10px;
    letter-spacing: .1rem;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }
  
  table.blueTable .table-footer {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
  }
  table.blueTable .table-footer td {
    font-size: 18px;
    font-weight: bold;
    background: white;
  }

  .header {
      text-align: center;
      justify-content: center;
  }

  .header .organisation {
      font-size: 26px;
      font-weight: bold;
      letter-spacing: .1rem;
      text-transform: uppercase;
  }

  .header .branch {
    font-size: 22px;
    letter-spacing: .1rem;
    text-transform: uppercase;
}