<template>
    <card class="flex flex-col" :resourceId="resourceId">
        <div class="px-3 py-3">
            <h3 class="text-3xl text-80 font-light">Total Class Fee</h3><br/><br/>
            <h1 >{{card.totalFee}}</h1>
        </div>
    </card>
</template>

<script>
export default {
    props: [
        'card',

        // The following props are only available on resource detail cards...
        // 'resource',
        'resourceId',
        // 'resourceName',
    ],
    mounted() {
        Nova.request().get('/nova-vendor/total-class-fee/'+this.resourceId)
        .then(data => {
            this.card.totalFee = data.data.totalFee            
        })
        .catch(error => {
            console.log(error)
        })
    },
}
</script>
